<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
  
    <!-- <script type="module" src="view.js"></script> -->

</head>
<body class="body1">

    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link " href="okno.html">Začetek</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="settings1.html">Osebne nastavitve</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="settings2.html">Druge nastavitve</a>
        </li>
        </ul>

    <h3>Druge nastavitve</h3>

    <br>
<container>

  <form id="formica">
    <div class="form-group">
        <label for="inputIme">Ime</label>
        <input type="text" class="form-control" id="ime2" placeholder="Vpišite ime">
    </div>
    <div class="form-group">
        <label for="inputPriimek">Priimek</label>
        <input type="text" class="form-control" id="priimek2" placeholder="Vpišite priimek">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" id="email2" aria-describedby="emailHelp" placeholder="Vpišite svoj email">

      </div>


    <div class="form-group">
        <label for="inputPrivat1">Tuji javni ključ</label>
        <textarea class="form-control" placeholder="Vpišite tuji javni ključ" id="tuji2"></textarea>
       <!-- <input type="text" class="form-control" id="tuji2" placeholder="Vpišite svoj privatni ključ"> -->
    </div>

    <button type="submit" class="btn btn-primary" value="submit" id="btn">Submit</button>
  </form>

</container>

<script type="module" src="view.js"></script>
    
</body>
</html>