<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    

</head>
<body class="body1">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link " href="okno.html">Začetek</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="settings1.html">Osebne nastavitve</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="settings2.html">Druge nastavitve</a>
        </li>
        </ul>


    <container>
    <h3>Osebne nastavitve</h3>

    <br>
    <form id="forma">
        <div class="form-group">
            <label for="inputIme">Ime</label>
            <input type="text" class="form-control" placeholder="Vpišite ime" id="inputime1">
        </div>
        <div class="form-group">
            <label for="inputPriimek">Priimek</label>
            <input type="text" class="form-control" placeholder="Vpišite priimek" id="inputpriimek">
        </div>
        <div class="form-group">
            <label for="inputemail">Email</label>
            <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Vpišite svoj email" id="inputemail">

          </div>

          <div class="form-group">
            <label for="inputJavni1">Osebni javni ključ</label>
            <input type="text" class="form-control" placeholder="Vpišite svoj javni ključ" id="inputpublic">
        </div>

        <div class="form-group">
            <label for="inputPrivat1">Osebni privatni ključ</label>
            <input type="text" class="form-control" placeholder="Vpišite svoj privatni ključ" id="inputpriv">
        </div>

        <div class="form-group">
          <label for="inputPrivat1">Geslo za privatni ključ</label>
          <input type="password" class="form-control" placeholder="Vpišite svojo geslo za privatni ključ" id="inputgeslo">
      </div>

        
        <button type="submit" class="btn btn-primary" value="submit" id="gumbek">Submit</button>
      </form>

    

    </container>

    <script type="module" src="view.js"></script>

</body>
</html>